@model List<Category>

    <div class="single-blog-widget mb-50">
        <h3>categories</h3>
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="#">@item.Name</a></li>
            }

            @*<li><a href="#">Political Science (12)</a></li>
            <li><a href="#">Micro Biology (08)</a></li>
            <li><a href="#">HTML5 &amp; CSS3 (15)</a></li>
            <li><a href="#">Web Design (20)</a></li>
            <li><a href="#">PHP (23)</a></li>*@
        </ul>
    </div>
