<!-- Header Area Start -->
<header class="top">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="header-top-left">
                        <p>HAVE ANY QUESTION ?  +880 5698  598  6587</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="header-top-right text-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul>
                                <li><a href="#">@(User.Identity.Name)</a></li>
                                <li><a asp-controller="Account" asp-action="Logout">SignOut</a></li>
                            </ul>
                        }
                        else
                        {
                            <ul>
                                <li><a asp-controller="Account" asp-action="Login">login</a></li>
                                <li><a asp-controller="Account" asp-action="Register">signup</a></li>
                            </ul>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-area two header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="logo">
                        <a href="index.html"><img src="~/img/logo/logo2.png" alt="eduhome" /></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    <div class="content-wrapper text-right">
                        <!-- Main Menu Start -->
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li>
                                        <a asp-controller="Home" asp-action="Index">Home</a>
                                        <ul>
                                            <li><a asp-controller="Home" asp-action="Index">Home One</a></li>

                                        </ul>
                                    </li>
                                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                                    <li>
                                        <a asp-controller="Course" asp-action="Courses">courses</a>
                                        <ul>
                                            <li><a asp-controller="Course" asp-action="Courses">courses</a></li>
                                            <li><a asp-controller="Course" asp-action="CourseDetails">courses details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="Event" asp-action="EventHome">event</a>
                                        <ul>
                                            <li><a asp-controller="Event" asp-action="EventHome">event</a></li>
                                            <li><a asp-controller="Event" asp-action="EventDetails">event details</a></li>
                                        </ul>
                                    </li>
                                    <li class="hidden-sm">
                                        <a asp-controller="Teacher" asp-action="Teacher">teacher</a>
                                        <ul>
                                            <li><a asp-controller="Teacher" asp-action="Teacher">teacher</a></li>
                                            <li><a asp-controller="Teacher" asp-action="TeacherDetails">teacher details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="Blog" asp-action="Blogs">blog</a>
                                        <ul>
                                            <li><a asp-controller="Blog" asp-action="Blogs">blog</a></li>
                                            <li><a asp-controller="Blog" asp-action="BlogDetails">blog details</a></li>
                                        </ul>
                                    </li>
                                    <li><a asp-controller="Contact" asp-action="Contacts">Contact</a></li>
                                    <li><a href="#">Buy Now</a>
                                </ul>
                            </nav>
                        </div>
                        <!--Search Form Start-->
                        <div class="search-btn">
                            <ul data-toggle="dropdown" class="header-search search-toggle">
                                <li class="search-menu">
                                    <i class="fa fa-search"></i>
                                </li>
                            </ul>
                            <div class="search">
                                <div class="search-form">
                                    <form id="search-form" action="#">
                                        <input id="myInput" type="search" placeholder="Search here..." onkeyup="myFunction()" name="search" />
                                        <button type="submit">
                                            <span><i class="fa fa-search"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--End of Search Form-->
                        <!-- Main Menu End -->
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="mobile-menu hidden-lg hidden-md hidden-sm"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->